### Importaci√≥n de datos

In [34]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head((10))

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359
5,Bloques de construcci√≥n,Juguetes,24200.0,0.0,03/12/2020,Beatriz Morales,Cali,5,Cup√≥n,1,3.43722,-76.52250
6,Mu√±eca beb√©,Juguetes,44200.0,0.0,07/08/2021,Juan Fernandez,Bogot√°,3,Nequi,1,4.60971,-74.08175
7,Lavavajillas,Electrodom√©sticos,1189700.0,63700.0,18/06/2021,Felipe Santos,Santa Marta,5,Tarjeta de cr√©dito,10,11.24079,-74.19904
8,Lavadora de ropa,Electrodom√©sticos,1518200.0,79000.0,08/01/2022,Izabela de Le√≥n,Bogot√°,1,Tarjeta de cr√©dito,5,4.60971,-74.08175
9,Carrito de control remoto,Juguetes,75200.0,5100.0,24/02/2020,Beatriz Morales,Bogot√°,5,Nequi,1,4.60971,-74.08175

#1. An√°lisis de facturaci√≥n

In [65]:
total_facturacion = tienda["Precio"].sum()
print("La suma total ventas es: $", total_facturacion)

La suma total ventas es: $ 1150880400.0

In [66]:
total_facturacion = tienda2["Precio"].sum()
print("La suma total ventas es: $", total_facturacion)

La suma total ventas es: $ 1116343500.0

In [67]:
total_facturacion = tienda3["Precio"].sum()
print("La suma total ventas es: $", total_facturacion)

La suma total ventas es: $ 1098019600.0

In [68]:
total_facturacion = tienda4["Precio"].sum()
print("La suma total ventas es: $", total_facturacion)

La suma total ventas es: $ 1038375700.0

# 2. Ventas por categor√≠a

In [40]:
tienda.groupby("Categor√≠a del Producto")["Precio"].sum()

Categor√≠a del Producto
Art√≠culos para el hogar     12698400.0
Deportes y diversi√≥n        39290000.0
Electrodom√©sticos          363685200.0
Electr√≥nicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

In [41]:
tienda2.groupby("Categor√≠a del Producto")["Precio"].sum()

Categor√≠a del Producto
Art√≠culos para el hogar     14746900.0
Deportes y diversi√≥n        34744500.0
Electrodom√©sticos          348567800.0
Electr√≥nicos               410831100.0
Instrumentos musicales     104990300.0
Juguetes                    15945400.0
Libros                      10091200.0
Muebles                    176426300.0
Name: Precio, dtype: float64

In [42]:
tienda3.groupby("Categor√≠a del Producto")["Precio"].sum()

Categor√≠a del Producto
Art√≠culos para el hogar     15060000.0
Deportes y diversi√≥n        35593100.0
Electrodom√©sticos          329237900.0
Electr√≥nicos               410775800.0
Instrumentos musicales      77380900.0
Juguetes                    19401100.0
Libros                       9498700.0
Muebles                    201072100.0
Name: Precio, dtype: float64

In [43]:
tienda4.groupby("Categor√≠a del Producto")["Precio"].sum()

Categor√≠a del Producto
Art√≠culos para el hogar     15074500.0
Deportes y diversi√≥n        33350100.0
Electrodom√©sticos          283260200.0
Electr√≥nicos               409476100.0
Instrumentos musicales      75102400.0
Juguetes                    20262200.0
Libros                       9321300.0
Muebles                    192528900.0
Name: Precio, dtype: float64

# 3. Calificaci√≥n promedio de la tienda

In [45]:
calificacion_promedio = round(tienda["Calificaci√≥n"].mean(), 1)
print("Calificaci√≥n promedio de la tienda:", calificacion_promedio)

Calificaci√≥n promedio de la tienda: 4.0

In [49]:
calificacion_promedio = round(tienda2["Calificaci√≥n"].mean(), 1)
print("Calificaci√≥n promedio de la tienda2:", calificacion_promedio)

Calificaci√≥n promedio de la tienda2: 4.0

In [50]:
calificacion_promedio = round(tienda3["Calificaci√≥n"].mean(), 1)
print("Calificaci√≥n promedio de la tienda3:", calificacion_promedio)

Calificaci√≥n promedio de la tienda3: 4.0

In [51]:
calificacion_promedio = round(tienda4["Calificaci√≥n"].mean(), 1)
print("Calificaci√≥n promedio de la tienda4:", calificacion_promedio)

Calificaci√≥n promedio de la tienda4: 4.0

# 4. Productos m√°s y menos vendidos

In [52]:
# Agrupar por categor√≠a y sumar el precio total
facturacion_por_categoria = tienda.groupby("Categor√≠a del Producto")["Precio"].sum()

# Ordenar de mayor a menor
facturacion_ordenada = facturacion_por_categoria.sort_values(ascending=False)

# Mostrar la categor√≠a m√°s y menos vendida (por facturaci√≥n)
print("üìà Categor√≠a que gener√≥ m√°s dinero:")
print(facturacion_ordenada.head(1))

print("\nüìâ Categor√≠a que gener√≥ menos dinero:")
print(facturacion_ordenada.tail(1))

üìà Categor√≠a que gener√≥ m√°s dinero:
Categor√≠a del Producto
Electr√≥nicos    429493500.0
Name: Precio, dtype: float64

üìâ Categor√≠a que gener√≥ menos dinero:
Categor√≠a del Producto
Libros    8784900.0
Name: Precio, dtype: float64

In [54]:
facturacion_por_categoria = tienda2.groupby("Categor√≠a del Producto")["Precio"].sum()
facturacion_ordenada = facturacion_por_categoria.sort_values(ascending=False)

print("üìà Categor√≠a que gener√≥ m√°s dinero:")
print(facturacion_ordenada.head(1))

print("\nüìâ Categor√≠a que gener√≥ menos dinero:")
print(facturacion_ordenada.tail(1))

üìà Categor√≠a que gener√≥ m√°s dinero:
Categor√≠a del Producto
Electr√≥nicos    410831100.0
Name: Precio, dtype: float64

üìâ Categor√≠a que gener√≥ menos dinero:
Categor√≠a del Producto
Libros    10091200.0
Name: Precio, dtype: float64

In [55]:
facturacion_por_categoria = tienda3.groupby("Categor√≠a del Producto")["Precio"].sum()
facturacion_ordenada = facturacion_por_categoria.sort_values(ascending=False)

print("üìà Categor√≠a que gener√≥ m√°s dinero:")
print(facturacion_ordenada.head(1))

print("\nüìâ Categor√≠a que gener√≥ menos dinero:")
print(facturacion_ordenada.tail(1))

üìà Categor√≠a que gener√≥ m√°s dinero:
Categor√≠a del Producto
Electr√≥nicos    410775800.0
Name: Precio, dtype: float64

üìâ Categor√≠a que gener√≥ menos dinero:
Categor√≠a del Producto
Libros    9498700.0
Name: Precio, dtype: float64

In [56]:
facturacion_por_categoria = tienda4.groupby("Categor√≠a del Producto")["Precio"].sum()
facturacion_ordenada = facturacion_por_categoria.sort_values(ascending=False)

print("üìà Categor√≠a que gener√≥ m√°s dinero:")
print(facturacion_ordenada.head(1))

print("\nüìâ Categor√≠a que gener√≥ menos dinero:")
print(facturacion_ordenada.tail(1))

üìà Categor√≠a que gener√≥ m√°s dinero:
Categor√≠a del Producto
Electr√≥nicos    409476100.0
Name: Precio, dtype: float64

üìâ Categor√≠a que gener√≥ menos dinero:
Categor√≠a del Producto
Libros    9321300.0
Name: Precio, dtype: float64

# 5. Env√≠o promedio por tienda

In [61]:
envio_promedio_tienda1 = round(tienda["Costo de env√≠o"].mean(), 1)
print("Costo de env√≠o promedio - Tienda 1:", envio_promedio_tienda1)

Costo de env√≠o promedio - Tienda 1: 26018.6

In [62]:
envio_promedio_tienda1 = round(tienda2["Costo de env√≠o"].mean(), 1)
print("Costo de env√≠o promedio - Tienda 1:", envio_promedio_tienda1)

Costo de env√≠o promedio - Tienda 1: 25216.2

In [63]:
envio_promedio_tienda1 = round(tienda3["Costo de env√≠o"].mean(), 1)
print("Costo de env√≠o promedio - Tienda 1:", envio_promedio_tienda1)

Costo de env√≠o promedio - Tienda 1: 24805.7

In [64]:
envio_promedio_tienda1 = round(tienda4["Costo de env√≠o"].mean(), 1)
print("Costo de env√≠o promedio - Tienda 1:", envio_promedio_tienda1)

Costo de env√≠o promedio - Tienda 1: 23459.5